#header{height: 56px;background: #353535;position: relative;border-bottom: 1px solid #555;box-sizing:border-box;}
#header h1{position: absolute;left: 50%;margin-left: -64px;margin-top: 17px;}
#header h2{position: absolute;left: 21px;top: 21px;}
#visual{height: 240px;background: #f4f4f4;overf low: hidden;position: relative;}
#visual img{w idth:100%;}
#visual .visual_ul li{width: 100%;position: absolute;}
#visual .visual_ul li img{width: 100%;}
#visual .visual_dot{position: absolute;left: 50%;bottom: 7px;z-index: 90;margin-left: -17px;}
#visual .visual_dot li{float: left;margin-right: 5px;width: 7px;height: 7px;-webkit-border-radius:50%;background: #f4f4f4;}
#visual .visual_dot li:last-child{margin-right: 0;}
#visual .visual_dot li.on{background: #f7d933;}

#nav{position: absolute;width: 60%;height: 640px;background: #333;z-index: 100;left: -75%;}
#gnb{}
#gnb li{text-indent: 21px;background: #555;}
#gnb li a{position: relative;display: block;color:#f2f2f2;font-size: 14px;height: 48px;line-height: 48px;border-bottom: 1px solid #333;background: url(../images/arrow.png) 92% 17px no-repeat;}
#gnb li a p{position: absolute;right: 21px;top: 0px;font-size: 24px;}
#gnb li ul{}
#gnb li ul li{overflow:}
#gnb li ul li a{display: block;color:#333;font-size: 13px;background: #f2f2f2;height: 38px;line-height: 38px;text-indent: 33px;border-bottom: 1px solid #aaa;}
#bgblack{position: absolute;width: 100%;height: 100%;background: rgba(0,0,0,0.5);z-index: 80;display: none;}
#nav h2{position: absolute;top: 70%;left: 55%;margin-left: -45px;opacity:0.4}

#gnb >li:nth-child(1) >a{background-image: none;}
#gnb >li:nth-child(2) >a{border-bottom: 5px solid #333;background-image: none;}

.circle{margin-left: 15px;margin-top: 15px;}
.circle dd{float: left;margin-right: 15px;}
.circle dd:last-child{margin-right: 0px;}
.circle dd a{font-size: 12px;display: block;width: 70px;height: 70px;border-radius:50%;text-align: center;line-height: 70px;background: #555;color:#f2f2f2;}

#container:after{display: block;content:'';clear:both}
#container{height: 100%;}
#contents{}
#contents ul{}
#contents ul li{float: left;position: relative;}
#contents ul li a{display: block;height: 120px;width: 100%;text-align: center;font-weight:bold;font-size: 15px;box-sizing:border-box;background-size:cover ;}

#contents ul li:nth-child(1){width: 33.333333%;background: #f7d933;}
#contents ul li:nth-child(1) a{display: block;padding-top: 40px;box-sizing:border-box;}
#contents ul li:nth-child(2){width: 33.333333%;background: #363636;}
#contents ul li:nth-child(2) a{display: block;color:#fff;backgro und: url(../images/icon0.png) 33px 20px no-repeat;pad ding-top: 80px;}
#contents ul li:nth-child(2) img{position: absolute;left: 50%;margin-left: -26px;top: 20px;}
#contents ul li:nth-child(2) p{position: absolute;bottom: 15px;left: 50%;margin-left: -26px;}
#contents ul li:nth-child(3){width: 33.333333%;background: #363636;}
#contents ul li:nth-child(3) a{display: block;backgr ound: url(../images/icon1.png) 37px 24px no-repeat;pad ding-top: 80px;color:#fff;border-left: 1px solid #555;}
#contents ul li:nth-child(3) img{position: absolute;left: 50%;margin-left: -26px;top: 20px;}
#contents ul li:nth-child(3) p{position: absolute;left: 50%;margin-left: -32px;bottom: 15px;}
#contents ul li:nth-child(4){width: 33.333333%;background: #363636;} 
#contents ul li:nth-child(4) a{display: block;color:#fff;back ground: url(../images/icon2.png) 37px 28px no-repeat;pa dding-top: 80px;}
#contents ul li:nth-child(4) img{position: absolute;left: 50%;top: 20px;margin-left: -23px;}
#contents ul li:nth-child(4) p{position: absolute;bottom: 15px;left: 50%;margin-left: -25.5px;}
#contents ul li:nth-child(5){width: 66.666666%;background: url(../images/bgpt.png) 0 0 no-repeat;position: relative;background-size:cover ;position: relative;}
#contents ul li:nth-child(5) a{display: block;width: 100%;color:#fff;text-align: center;padding-top:50px;}
#contents ul li:nth-child(5) a .gold{position: absolute;top: 35px;left: 50%;margin-left: -90px;}
#contents ul li:nth-child(6){width: 66.666666%;background: #555;}
#contents ul li:nth-child(6) a{padding-top: 20px;color:#fff;display: block;background: url(../images/bgpt2.png) 0 0 no-repeat;font-size: 16px;background-size:cover ;}
#contents ul li:nth-child(6) a span{display: block;color:#fff;font-size: 13px;}
#contents ul li:nth-child(6) a strong{margin-top: -16px;display: block;font-size: 24px;}
#contents ul li:nth-child(7){width: 33.333333%;background: #363636;}
#contents ul li:nth-child(7) a{display: block;background: url(../images/bgpt3.png) 0 0 no-repeat;color:#fff;padding-top: 50px;background-size:cover ;width: 100%;}



.notice{}
.notice dl{text-indent: 21px;border-top: 9px solid #ebebeb;border-bottom: 9px solid #ebebeb;}
.notice dl dt{border-bottom: 1px solid #a0a0a0;}
.notice dl dt a{display: block;height: 46px;font-size: 14px;line-height: 46px;font-weight:bold;}
.notice dl dd{border-bottom: 1px solid #a0a0a0;}
.notice dl dd a{display: block;height: 36px;font-size: 12px;line-height: 36px;}

#footer{background: #373f42;height: 230px;position: relative;}
#footer ul{position: absolute;left: 50%;top: 20px;margin-left: -160px;}
#footer ul li{float: left;margin-right: 0px;}
#footer ul li:last-of-type{margin-right: 0px;}
#footer ul li a{display: block;background: #222;color:#f7d933;text-align: center;font-size: 12px;height: 38px;line-height: 38px;border-radius:3px}
#footer ul li:first-child a{width: 100px;}
#footer ul li:nth-child(2) a{width: 120px;margin-right: 10px;margin-left: 10px;}
#footer ul li:last-child a{width: 80px;}
#footer h2{position: absolute;left: 50%;margin-left: -57.5px;top: 70px;}
#footer address{color:#878787;text-align: center;font-size: 10px;padding-top: 100px;}
#footer .copyright{text-align: center;color:#878787;font-size: 10px;padding-top: 15px;}
